.testimonial-wrapper {
  padding: 5.8rem 0;
}

.testimonial-container {
  width: 100%;
  max-width: 77rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

.testimonial-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97%;
  padding-bottom: 37.6%;
  border-radius: 2.8rem;
  transform: translate(-50%, -50%) rotate(-4.73deg);
  background-color: #ffeca8;
  z-index: -1;
}

.testimonial-container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  right: -2.8rem;
  width: 18.44%;
  padding-bottom: 14.15%;
  transform: rotate(-5.82deg);
  background-image: url("../../assets/icons/quotation-marks.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial-button-container {
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-button {
  background-color: transparent;
  padding: 10px;
  border: 0;
  cursor: pointer;
  font-size: 0;
}

.testimonial-button:hover {
  opacity: 0.7;
}

.testimonial-content {
  width: 66%;
  text-align: center;
  padding: 11.16883116883117% 0 8.831168831168831%;
}

:is(.testimonial, .testimonial-author) {
  display: block;
  font-size: var(--small);
}

.testimonial-author {
  margin-top: 2.6rem;
  font-weight: 700;
}
