* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --xsmall: 1.6rem;
  --small: 1.8rem;
  --medium: 2rem;
  --large: 2.4rem;
  --xlarge: 4.8rem;
  --xxlarge: 11rem;

  --black: #000;
  --white: #fff;
  --green: #002532;

  --font-black: #000;
  --font-white: #fff;

  --body-bg: #ffffff;
  --card-bg: #f4f4f4;
}

body {
  background-color: var(--body-bg);
  font-size: var(--medium);
  overflow: overlay;
}

body,
h1,
h2,
h3,
p,
input,
label,
button {
  line-height: 150%;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #ec9bb2;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #e6678b;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul {
  list-style-type: none;
}

.link-underline {
  color: var(--font-black);
  font-weight: 700;
  font-size: var(--large);
  transition: opacity 0.2s ease;
}

.link-underline:hover {
  opacity: 0.8;
}
